body {
    font-family: Arial;
    background-color: rgb(255, 255, 255);
}
.mbody{
    background-color: rgb(100, 0, 0);
}
.fbody{
    background-color: #cccccc;
    background-image: url("/lab03/images/bgfood.jpg");
}

h1 {
    color: rgb(0, 0, 0);
}
.foodp {
    font-size: 30px ;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
}
.foodphead {
    font-size: 60px ;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    animation: color-change 5s infinite;
}
.foodpp {
    font-size: 30px ;
    color: rgb(0, 0, 0);
    /*animation: color-change 5s infinite;*/
}

@keyframes color-change {
    0% { color: rgb(255, 0, 0); }
    25% { color: rgb(0, 255, 55); }
    50% { color: rgb(0, 162, 255); }
    75% { color: rgb(0, 47, 255); }
    100% { color: rgb(204, 0, 255); }
}

hr.l1 {
    border: 3px solid #7DCEA0;
    background-color: #7DCEA0;
    border-radius: 2px;
}


.foodtable {
    margin-left: auto;
    margin-right: auto;
}
.trtext {
    height: 20%;

}
.trblink:hover {background-color: rgba(218, 168, 6, 0.801);}

.foodimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 10%;
}
/* -------------------------------------------------------------------------------- */
.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
}
  
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
  
.button1:hover {
    background-color: #4CAF50;
    color: white;
}
  
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #4caf96;
}
  
.button2:hover {
    background-color: #4caf96;
    color: white;
}
  
.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #4c93af;
}
  
.button3:hover {
    background-color: #4c93af;
    color: white;
}
  
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #4c53af;
}
  
.button4:hover {
    background-color: #4c53af;
    color: white;
}
  
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #7a4caf;
}
  
.button5:hover {
    background-color: #7a4caf;
    color: white;
}

.mp {
    font-size: 30px;
    color: white;
}
.mtable{
    margin-left: auto;
    margin-right: auto;
}
.mh {
    font-size: 50px;
    color: white;
}




/* for lab1 */
.imgl1 {
    border: 0.5px solid rgb(231, 231, 231);
    }
.tablel1, .thl1, .tdl1 {
    border: 0.5px solid rgb(187, 187, 187);
    border-collapse: collapse;
    }
.item1l1 {
    grid-area: main;
    }
.item3l1 {
    grid-area: right;
    }
.grid-containerl1 {
    display: grid;
    grid-template-areas:
        'main   right ';
    grid-gap: 10px;
    background-color: #ffffffee;
    padding: 10px;
    }